## QTM 151 - Quiz 03

### Try to submit as an HTML file

### Print your name below

In [ ]:
# Write your answer here

<font size = "3" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [ ]:
# Write your answer here:

<font size = "3">

Import the libraries "numpy" and "pandas"

In [ ]:
# Write your answer here


<font size = "3">

(a) Replace the values of a column

- Import the `data_quiz/constructors.csv` file
- Replace the values `British`, `American`, and `Dutch` with `UK`, `USA`, `Netherlands` in the column `nationality`


HINT: See the example in Lecture 12

In [ ]:
# Write your own code

<font size = "3">


**For questions (b)-(e):**

**Import the `data_quiz/sprint_results.csv` file** 

(b) Recode a numeric colum

- Recode the `points` column into a new column `points_brackets` with the following categories

$\qquad$ ``` ["0-20","21-30","31-100"] ```

$\qquad$ HINT: Use the `pd.cut()` command. See Lecture 12 <br>
$\qquad$ HINT: Be careful about the left and right points of <br>
$\qquad$ interval to make sure that you classify the points correctly

In [ ]:
# Write your own code:

(c) Aggregate and query

- Subset the observations for `raceId <= 1070` using `.query()`
- Obtain the maximum of `points` by `driverId` using `.groupby().agg()` and save this to <br>
a new dataset called `aggregate_data`
- From `aggregate_data` subset the drivers with a maximum number of points $>= 1$
- Display the resulting dataset


Hint: See Lecture 15

In [ ]:
# Write your own code

<font size = "3">

(d) Aggregate and sort

- Obtain the mean of `points` by `driverId` using `.groupby().agg()`
- Sort the drivers in descending order using of the mean of points using `.sort_values()`


Hint: See Lecture 15

In [ ]:
# Write your own code

<font size = "3">

(e) Rename column

- Rename the column `grid` to `grid_placement`

HINT: Create a dictionary and use `.rename(columns = ...)`

See Lecture 15

In [ ]:
# Write your own code

<font size = "3">

(f) Merge dataset

- Create a new dataset with  ```pd.merge()``` using `sprint_results` as the primary dataset, and <br>
`constructors` as the secondary dataset, merging on the column `constructorId`
- To get full points **ONLY** merge the `nationality` column from the secondary dataset (not all the columns)

HINT: Use `[[...]]` to extract a subset of columns <br>
from the secondary dataset before merging, including the `constructorId` column.

Be careful to notice that `constructorId` has an uppercase "I".

See Lecture 15

In [ ]:
# Write your own code